@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}
hr{
  width:40%;
height: 1px;
background: #D9D9D9;
}

.blogheroTb{
  background-image: url("../src/assets/images/blog-images/blogheroTB.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blogHeroLg{
  background-image: url("../src/assets/images/blog-images/BlogHeroLg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}